.login-page {
    background-color: #f1f1f1;
    overflow: hidden;
    background-image: url('../images/login-bg.jpg');
    background-position: center -100px;
    // background-size: cover;
    flex: 1;
    align-items: center;
    justify-content: center;
}